/* Utility */

.red {
  background-color: red;
}

.green {
  background-color: green;
}

/* /fine Utility */

.products-row {
  text-align: center;
  margin-top: 25px;
}

.product {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
}


.heart {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  display: none;
  font-size: 50px;
  color: red;
}

.product:hover .heart{
  display: block;
}
