.products-row {
  text-align: center;
  margin-top: 25px;
}

.product {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.heart {
  position: absolute;
  bottom: 5px;
  left: 50%;
  display: none;
  font-size: 35px;
  color: red;
}

.product:hover .heart{
  display: block;
}
